/* ShineUI.css */

/* Yenilikçi ve Göz Alıcı Button Stilleri */

/* Sade Button */
.btn-shine-simple {
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-shine-simple:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Çerçeveli Button */
.btn-shine-bordered {
  font-size: 18px;
  color: #007bff;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-shine-bordered:hover {
  color: #555;
}

/* Tam Genişlikli Button */
.btn-shine-full-width {
  font-size: 18px;
  color: #fff;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00ff00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  display: block;
  text-align: center;
}

.btn-shine-full-width:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
